{% extends 'plantilla.html' %}

{% block contenido %}
<style>
  /* Estilos personalizados para mejorar la apariencia */
  h1 {
    color: #007bff; /* Color del encabezado */
    text-align: center;
  }

  /* Estilos para el formulario */
  form {
    background-color: #f8f9fa; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

  /* Estilos para la tabla */
  table {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #dee2e6; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #007bff; /* Color de fondo del encabezado de la tabla */
    color: #1c2833; /* Color del texto del encabezado de la tabla */
  }

  /* Estilos para los botones de acción */
  .btn-action {
    margin-right: 5px;
  }
  #actualizarAutorForm th,
  #actualizarAutorForm td {
    width: 300%; /* Puedes ajustar el valor según tus necesidades */
  }

  /* Estilos para los mensajes de error */
  .error-message {
    color: #dc3545;
    font-size: 80%;
    margin-top: 5px;
  }

</style>

<!-- Agrega la referencia al archivo jQuery y al plugin jQuery Validation -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
  // Espera a que el documento esté listo
  $(document).ready(function () {
    // Agrega reglas de validación al formulario usando el plugin jQuery Validation
    $("#actualizarAutorForm").validate({
      // Configuración de reglas de validación
      rules: {
        "apellido_rg": {
          required: true,
        },
        "nombre_rg": {
          required: true,
        },
        "edad_rg": {
          required: true,
        },
        // Agrega reglas de validación para otros campos si es necesario
      },
      // Mensajes de error personalizados
      messages: {
        "apellido_rg": {
          required: "Por favor, ingrese el apellido del autor",
        },
        "nombre_rg": {
          required: "Por favor, ingrese el nombre del autor",
        },
        "edad_rg": {
          required: "Por favor, ingrese la edad del autor",
        },
        // Agrega mensajes de error para otros campos si es necesario
      },
      // Colocar mensajes de error dentro del contenedor adecuado y aplicar la clase personalizada
      errorPlacement: function (error, element) {
        error.addClass("error-message");
        error.insertAfter(element);
      }
    });
  });
</script>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="{% url 'actualizarAutor' autor.id_rg %}" method="post" enctype="multipart/form-data" id="actualizarAutorForm">
      {% csrf_token %}

      <div class="form-group">
        <label for="apellido_rg">Apellido del Autor</label>
        <input type="text" name="apellido_rg" id="apellido_rg" value="{{ autor.apellido_rg }}" placeholder="Ingrese el apellido del autor" class="form-control" required>
      </div>

      <br>

      <div class="form-group">
        <label for="nombre_rg">Nombre del Autor</label>
        <input type="text" name="nombre_rg" id="nombre_rg" value="{{ autor.nombre_rg }}" placeholder="Ingrese el nombre del autor" class="form-control" required>
      </div>

      <br>

      <div class="form-group">
        <label for="edad_rg">Edad del Autor</label>
        <input type="number" name="edad_rg" id="edad_rg" value="{{ autor.edad_rg }}" class="form-control" required>
      </div>

      <br>

      <div class="form-group">
        <label for="pdf_documento">Documento PDF del Autor</label>
        <input type="file" name="pdf_documento" id="pdf_documento" class="form-control">
      </div>

      <br>

      <div class="form-group">
        <label for="libros_ids">Libros del Autor</label>
        <select name="libros_ids" id="libros_ids" class="form-control" multiple>
          {% for libro in libros %}
            <option value="{{ libro.id_rg }}" {% if libro in autor.libros.all %}selected{% endif %}>
              {{ libro.titulo_rg }}
            </option>
          {% endfor %}
        </select>
      </div>

      <!-- Otros campos del formulario -->

      <center>
        <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-danger">Cancelar</a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
