{% extends 'plantilla.html' %}

{% block contenido %}
<style>
  /* Estilos personalizados para mejorar la apariencia */
  h1 {
    color: #007bff; /* Color del encabezado */
    text-align: center;
  }

  /* Estilos para el formulario */
  form {
    background-color: #f8f9fa; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

  /* Estilos para la tabla */
  table {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #dee2e6; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #007bff; /* Color de fondo del encabezado de la tabla */
    color:  #1c2833 ; /* Color del texto del encabezado de la tabla */
  }

  /* Estilos para los botones de acción */
  .btn-action {
    margin-right: 5px;
  }
  #guardarGeneroForm th,
  #guardarGeneroForm td {
    width: 300%; /* Puedes ajustar el valor según tus necesidades */
  }

  /* Estilos para los mensajes de error */
  .error-message {
    color: #dc3545;
    font-size: 80%;
    margin-top: 5px;
  }

</style>

<!-- Agrega la referencia al archivo jQuery y al plugin jQuery Validation -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
  // Espera a que el documento esté listo
  $(document).ready(function () {
    // Agrega reglas de validación al formulario usando el plugin jQuery Validation
    $("#actualizarGeneroForm").validate({
      // Configuración de reglas de validación
      rules: {
        "nombre_rg": {
          required: true,
        },
        "descripcion_rg": {
          required: true,
        },
        // Agrega reglas de validación para otros campos si es necesario
      },
      // Mensajes de error personalizados
      messages: {
        "nombre_rg": {
          required: "Por favor, ingrese el nombre del género",
        },
        "descripcion_rg": {
          required: "Por favor, ingrese la descripción del género",
        },
        // Agrega mensajes de error para otros campos si es necesario
      },
      // Colocar mensajes de error dentro del contenedor adecuado y aplicar la clase personalizada
      errorPlacement: function (error, element) {
        error.addClass("error-message");
        error.insertAfter(element);
      }
    });
  });
</script>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="{% url 'actualizarGenero' genero.id_rg %}" method="post" enctype="multipart/form-data" id="actualizarGeneroForm">
      {% csrf_token %}

      <div class="form-group">
        <label for="nombre_rg">Nombre del Género</label>
        <input type="text" name="nombre_rg" id="nombre_rg" value="{{ genero.nombre_rg }}" placeholder="Ingrese el nombre del género" class="form-control" required>
      </div>

      <br>

      <div class="form-group">
        <label for="descripcion_rg">Descripción del Género</label>
        <textarea name="descripcion_rg" id="descripcion_rg" placeholder="Ingrese la descripción del género" class="form-control" required>{{ genero.descripcion_rg }}</textarea>
      </div>

      <br>

      <div class="form-group">
        <label for="fotografia">Fotografía</label>
        <input type="file" name="fotografia" id="fotografia" class="form-control">
      </div>

      <br>

      <!-- Otros campos del formulario -->

      <center>
        <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-danger">Cancelar</a>
      </center>
    </form>
  </div>
</div>

{% endblock %}
