{% extends 'plantilla.html' %}

{% block contenido %}

<style>
  /* Estilos personalizados para mejorar la apariencia */
  h1 {
    color: #ffc107; /* Cambiado a amarillo para un aspecto llamativo */
    text-align: center;
    font-size: 36px; /* Tamaño de fuente aumentado para destacar */
    font-family: 'Arial', sans-serif; /* Cambiado a una fuente sans-serif genérica */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto para un efecto de relieve */
  }

  /* Estilos para el subtítulo */
  h3 {
    color: #333; /* Color de texto para el subtítulo */
    text-align: center;
    font-size: 35px; /* Tamaño de fuente para el subtítulo */
    margin-bottom: 20px;
  }
  /* Estilos para el formulario */
  form {
    background-color: #f8f9fa; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

  /* Estilos para la tabla */
  table {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-top: 20px;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dee2e6; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #007bff; /* Color de fondo del encabezado de la tabla */
    color: #1c2833; /* Color del texto del encabezado de la tabla */
  }

  /* Estilos para los botones de acción */
  .btn-action {
    margin-right: 5px;
  }
  #btnEditar {
  /* Añade los estilos que desees */
  padding: 4px 8px;
  font-size: 12px;
}

</style>
<!-- Encabezado de la página -->
<br>
<h1>"Explora un festín de sabores"</h1>
<br>
<h3>Desde clásicos reconfortantes hasta creaciones audaces, cada plato es una experiencia única en nuestro variado menú.</h3>
<!-- Sección izquierda con el formulario para ingresar nuevo tipo -->
<div class="row">
  <div class="col-md-5">
    <!-- Formulario para guardar un nuevo tipo -->
    <form action="{% url 'guardarTipo' %}" method="post" enctype="multipart/form-data" id="guardarTipoForm">
      {% csrf_token %}

      <!-- Campo para ingresar el nombre del tipo -->
      <div class="form-group">
        <label for="nombre">Nombre del platillo</label>
        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el tipo de plato que desea" required>
      </div>

      <!-- Campo para ingresar la descripción del tipo -->
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea name="descripcion" id="descripcion" class="form-control" placeholder="Descripción del platillo" required></textarea>
      </div>

      <!-- Campo para ingresar la categoría del tipo -->
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <input type="text" name="categoria" id="categoria" class="form-control" placeholder="Categoría del platillo">
      </div>

      <!-- Campo para ingresar el precio del tipo -->
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio" class="form-control" placeholder="Precio del platillo">
      </div>

      <br>
      <b>FOTOGRAFÍA:</b>
      <br><br>
      <input type="file" name="fotografia" accept="image/*" value="" class="form-control">
      <br><br>

      <div class="text-center">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
      </form>
      </div>

      <!-- Sección derecha con el listado de tipos existentes -->
      <div class="col-md-7">
      <br>
      <!-- Tabla para mostrar el listado de tipos -->
      <table id="tiposTable" class="table table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>FOTOGRAFÍA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <!-- Itera sobre los tipos y muestra sus detalles en la tabla -->
          {% for tipo in tipos %}
          <tr>
            <td>{{ tipo.id_rg }}</td>
            <td>{{ tipo.nombre }}</td>
            <td>{{ tipo.descripcion }}</td>
            <td>{{ tipo.categoria }}</td>
            <td>{{ tipo.precio }}</td>
            <td>
              {% if tipo.fotografia %}
              <a href="{{ tipo.fotografia.url }}" target="_blank">
                <img src="{{ tipo.fotografia.url }}" alt="" style="max-height: 50px; max-width: 50%;">
              </a>
              {% else %}
              <b>N/A</b>
              {% endif %}
            </td>
            <td>
              <div class="btn-group">
                <!-- Formulario de eliminación para cada tipo -->
                <form action="{% url 'eliminarTipo' tipo.id_rg %}" method="post" id="eliminarTipoForm-{{ tipo.id_rg }}" style="display: inline;">
                  {% csrf_token %}
                  <button type="button" class="btn btn-danger btn-xs" onclick="confirmarEliminacion('{{ tipo.id_rg }}')">Eliminar</button>
                </form>
                <!-- Enlace para editar con ID -->
                <a href="{% url 'editarTipo' tipo.id_rg %}" id="btnEditar{{ tipo.id_rg }}" class="btn btn-warning btn-xs">Editar</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>

<!-- Bloque de scripts para DataTables -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#tiposTable').DataTable({
      dom: 'Bfrtip',
      language: {
        "decimal": "",
        "emptyTable": "No hay datos disponibles en la tabla",
        "info": "¡Sabor auténtico en cada bocado, tu destino para comida rápida deliciosa!",
        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
        "infoFiltered": "(filtradas de _MAX_ entradas totales)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros coincidentes",
        "paginate": {
          "first": "",
          "last": "",
          "next": "",
          "previous": "Los numero #"
        },
        "aria": {
          "sortAscending": ": activar para ordenar la columna ascendente",
          "sortDescending": ": activar para ordenar la columna descendente"
        }
      },
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'PDF creado por PDFMake con botones para DataTables.'
        },
        'print',
        'csv'
      ]
    });
  });
</script>


<!-- Bloque de scripts para iziToast -->
<script>
  function confirmarEliminacion(id_rg) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el tipo seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SÍ</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          // Encuentra el formulario asociado y envía el formulario
          var form = document.getElementById('eliminarTipoForm-' + id_rg);
          if (form) {
            form.submit();
          }
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }

  // Muestra un mensaje de éxito para el guardado
  {% if messages %}
  {% for message in messages %}
  iziToast.success({
    title: 'Éxito',
    message: '{{ message }}',
    position: 'topRight',
  });
  {% endfor %}
  {% endif %}
</script>

<!-- Bloque de scripts para jQuery validation-->
<script>
  $(document).ready(function () {
    $("#guardarTipoForm").validate({
      // Configuración de reglas de validación
      rules: {
        "nombre": {
          required: true,
          minlength: 3,
        },
        "descripcion": {
          required: true,
        },
        "categoria": {
          required: true,
        },
        "precio": {
          required: true,
          number: true,
        },
        "fotografia": {
          required: true,
          extension: "jpg|jpeg|png|gif",
        },
      },
      // Mensajes de error personalizados
      messages: {
        "nombre": {
          required: "Por favor, ingrese el nombre del platillo",
          minlength: "El nombre debe tener al menos 3 caracteres",
        },
        "descripcion": "Por favor, ingrese la descripción del platillo",
        "categoria": "Por favor, ingrese la categoría del platillo",
        "precio": {
          required: "Por favor, ingrese el precio del platillo",
          number: "Ingrese un número válido para el precio",
        },
        "fotografia": {
          required: "Por favor, seleccione una fotografía",
          extension: "Formato de archivo no válido. Use formatos como jpg, jpeg, png o gif",
        },
      },
      // Colocar mensajes de error dentro del contenedor adecuado y aplicar la clase personalizada
      errorPlacement: function (error, element) {
        error.addClass("error-message");
        error.insertAfter(element);
      }
    });
  });
</script>

{% endblock %}
